body {
    font-family: Arial, sans-serif;
    background-color: #8DD6CF; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%; /* Устанавливаем полную ширину */
    padding: 20px; /* Отступы для контейнера */
    box-sizing: border-box; /* Учитываем отступы в ширине */
    margin-top: 50px; /* Отступ сверху для контейнера */
}

.header-box {
    background-color: #D3D3D3; /* Серый цвет фона для прямоугольника */
    padding: 30px; /* Увеличенные отступы */
    border-radius: 10px; /* Закругление углов */
}

h1 {
    color: black; /* Цвет текста заголовка */
    font-size: 6em; /* Увеличенный размер шрифта заголовка */
}

.buttons {
    margin-top: 30px; /* Увеличенный отступ сверху для блока кнопок */
    display: flex;
    flex-direction: column; /* Разметка кнопок по вертикали */
    gap: 30px; /* Увеличенное расстояние между кнопками */
}

.login-form {
    margin-top: 30px; /* Увеличенный отступ сверху для формы */
    display: flex;
    flex-direction: column;
    gap: 60px; /* Увеличенное расстояние между элементами формы */
}

label {
    font-size: 2em; /* Увеличенный размер шрифта для меток */
}

input {
    padding: 15px; /* Увеличенные отступы внутри поля */
    font-size: 1.5em; /* Увеличенный размер шрифта для текстовых полей */
    border-radius: 5px; /* Закругление углов */
    border: 1px solid #ccc; /* Цвет границы */
}

.button {
    display: block;
    background-color: #D9D9D9; /* Цвет фона кнопки */
    color: black; /* Цвет текста кнопки */
    padding: 15px 30px; /* Увеличенные отступы для кнопки */
    text-decoration: none;
    border-radius: 5px;
    font-size: 2em; /* Увеличенный размер шрифта для кнопки */
    transition: 0.3s;
}

.button:hover {
    background-color: #45a049; /* Цвет фона кнопки при наведении */
}

.back-button {
    margin-top: 30px; /* Увеличенный отступ сверху для кнопки "Назад" */
    font-size: 2.5em; /* Увеличенный размер шрифта для кнопки "Назад" */
}